<div class="dashboard-wrapper">
    <div class="row g-3">
      <div class="col-lg-9 g-3">
        <div class="row g-3 mb-3">
          <div class="col-lg">
            <div class="card border-light container-fluid success p-0 m-0">
              <div class="card-body px-4 py-3">

                <!-- Top card content -->
                <div class="heading-div">
                  <div class="row align-items-center">
                    <div class="heading-icon col-auto d-flex align-items-center justify-content-center"><span class="material-symbols-rounded" style="">
                        payments
                      </span></div>
                    <div class="heading-text-cover col">
                      <h5 class="heading-text">Total Revenue(Year)</h5>
                    </div>
                  </div>
                </div>

                <!-- middle card content -->
                <div class="middle-div">
                  <div class="row align-items-center">
                    <div class="middle-text-cover col">
                      <h5 class="middle-text">₦ 5,006,672.57</h5>
                    </div>
                  </div>
                </div>

                <!-- Bottom card content -->
                <div class="bottom-div">
                  <div class="row">
                    <div class="bottom-text-cover d-flex">
                      <span class="bottom-icon material-symbols-rounded">
                        trending_up
                      </span>
                      <span class="bottom-text text-green me-2">25%</span>
                      <span class="bottom-text">+150k This month</span>
                      <span class="bottom-text ms-auto text-green">+50k Today</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg">
            <div class="card border-light container-fluid success p-0 m-0">
              <div class="card-body px-4 py-3">

                <!-- Top card content -->
                <div class="heading-div">
                  <div class="row align-items-center">
                    <div class="heading-icon-yellow col-auto d-flex align-items-center justify-content-center"><span class="material-symbols-rounded" style="">
                        receipt_long
                      </span></div>
                    <div class="heading-text-cover col">
                      <h5 class="heading-text">Total Bills(Year)</h5>
                    </div>
                  </div>
                </div>

                <!-- middle card content -->
                <div class="middle-div">
                  <div class="row align-items-center">
                    <div class="middle-text-cover col">
                      <h5 class="middle-text">₦ 5,006,672.57</h5>
                    </div>
                  </div>
                </div>

                <!-- Bottom card content -->
                <div class="bottom-div">
                  <div class="row">
                    <div class="bottom-text-cover d-flex">
                      <span class="bottom-icon material-symbols-rounded">
                        trending_up
                      </span>
                      <span class="bottom-text text-green me-2">25%</span>
                      <span class="bottom-text">+150k This month</span>
                      <span class="bottom-text ms-auto text-green">+50k Today</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg">
            <div class="card border-light container-fluid success p-0 m-0">
              <div class="card-body px-4 py-3">

                <!-- Top card content -->
                <div class="heading-div">
                  <div class="row align-items-center">
                    <div class="heading-icon-purple col-auto d-flex align-items-center justify-content-center"><span class="material-symbols-rounded" style="">
                        credit_card
                      </span></div>
                    <div class="heading-text-cover col">
                      <h5 class="heading-text">Total Payments(Year)</h5>
                    </div>
                  </div>
                </div>

                <!-- middle card content -->
                <div class="middle-div">
                  <div class="row align-items-center">
                    <div class="middle-text-cover col">
                      <h5 class="middle-text">₦ 5,006,672.57</h5>
                    </div>
                  </div>
                </div>

                <!-- Bottom card content -->
                <div class="bottom-div">
                  <div class="row">
                    <div class="bottom-text-cover d-flex">
                      <span class="bottom-icon material-symbols-rounded">
                        trending_up
                      </span>
                      <span class="bottom-text text-green me-2">25%</span>
                      <span class="bottom-text">+150k This month</span>
                      <span class="bottom-text ms-auto text-green">+50k Today</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-lg-8">
            <div class="row g-1">
              <div class="card border-light container-fluid p-0 mt-1">
                <div class="card-body px-4 py-3">

                  <!-- Top card content -->
                  <div class="chart-div">
                    <div class="row align-items-center">
                      <div class="heading-text-cover col px-1">
                        <h5 class="heading-text">Revenue statistics <span class="badge bg-secondary info pointer" title="This shows the monthly trend of the total revenue this year">i</span></h5>
                      </div>
                    </div>
                  </div>

                  <!-- middle card content -->
                  <div class="middle-chart-div my-4 text-center">
                    <div class="row align-items-center">
                      <div class="middle-text-cover col">
                        <img src="./assets/img/chart.svg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row g-3 mt-1">
              <div class="col-">
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="card border-light container-fluid success p-0">
                      <div class="card-body px-4 py-3 pb-0">
                        <div class="">

                          <!-- Top card content -->
                          <div class="heading-div">
                            <div class="row align-items-center">
                              <div class="smallest-heading-icon col-auto d-flex align-items-center justify-content-center"><span class="material-symbols-rounded" style="">
                                  payments
                                </span></div>
                              <div class="heading-text-cover col">
                                <h5 class="smallest-heading-text">Active Individuals</h5>
                              </div>
                            </div>
                          </div>

                          <!-- middle card content -->
                          <div class="smallest-middle-div">
                            <div class="row align-items-center">
                              <div class="middle-text-cover col">
                                <h5 class="middle-text">56,672</h5>
                              </div>
                            </div>
                          </div>

                        </div>

                        <!-- <hr class="hr m-0 p-0"> -->

                        <div class="py-0">

                          <!-- Top card content -->
                          <div class="heading-div">
                            <div class="row align-items-center">
                              <div class="smallest-heading-icon col-auto d-flex align-items-center justify-content-center"><span class="material-symbols-rounded" style="">
                                  payments
                                </span></div>
                              <div class="heading-text-cover col">
                                <h5 class="smallest-heading-text">Active Corporate</h5>
                              </div>
                            </div>
                          </div>

                          <!-- middle card content -->
                          <div class="smallest-middle-div">
                            <div class="row align-items-center">
                              <div class="middle-text-cover col">
                                <h5 class="middle-text">56,672</h5>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card h-100 border-light container-fluid success p-0">
                      <div class="card-body px-4 py-1">

                        <!-- Top card content -->
                        <div class="chart-div mt-3">
                          <div class="row align-items-center">
                            <div class="heading-text-cover col px-1 mb-3">
                              <h5 class="heading-text">PITA Analytics </h5>
                            </div>
                          </div>
                        </div>

                        <!-- middle card content -->
                        <div class="middle-chart-div my-0 px-1">
                          <div class="row align-items-center">
                            <div class="middle-text-cover col-12 mb-2 d-flex">
                              <small class="smaller" style="font-size: 10px;">Total number of assessed ABSSIN in 2023</small>
                              <small class="smaller-price fw-bold ms-auto">1</small>
                            </div>
                            <hr class="hr">
                            <div class="middle-text-cover col-12 mb-2 d-flex">
                              <small class="smaller" style="font-size: 10px;">Total number of unassessed ABSSIN in 2023</small>
                              <small class="smaller-price fw-bold ms-auto text-danger">10</small>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>



              <div class="col">
                <div class="card h-100 border-light container-fluid success p-0">
                  <div class="card-body px-4 py-3">

                    <!-- Top card content -->
                    <div class="heading-div">
                      <div class="row align-items-center">
                        <div class="heading-text-cover col p-0">
                          <h5 class="heading-text">Flying Revenue Breakdown(YTD)</h5>
                          <!-- Bottom card content -->
                          <div class="bottom-div">
                            <div class="row px-3 mt-2">
                              <div class="bottom-text-cover d-flex">
                                <img src="./assets/img/taxi 1.svg" alt="" style="width: 30px">
                                <span class="bottom-text ms-auto text-green"><span class="text-secondary">11022</span> | +50k Today</span>
                              </div>
                            </div>
                            <div class="row px-3 mt-2">
                              <div class="bottom-text-cover d-flex">
                                <img src="./assets/img/motorcycle 1.svg" alt="" style="width: 30px">
                                <span class="bottom-text ms-auto text-green"><span class="text-secondary">11022</span> | +50k Today</span>
                              </div>
                            </div>
                            <div class="row px-3 mt-2">
                              <div class="bottom-text-cover d-flex">
                                <img src="./assets/img/golf-cart 1.svg" alt="" style="width: 22px">
                                <span class="bottom-text ms-auto text-green"><span class="text-secondary">11022</span> | +50k Today</span>
                              </div>
                            </div>
                            <div class="row px-3 mt-2">
                              <div class="bottom-text-cover d-flex">
                                <img src="./assets/img/bus 1.svg" alt="" style="width: 30px">
                                <span class="bottom-text ms-auto text-green"><span class="text-secondary">11022</span> | +50k Today</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>



          </div>

          <div class="col-lg assessment-col">
            <div class="row g-1">
              <div class="card border-light container-fluid success p-0">
                <div class="card-body px-4 py-3">

                  <!-- Top card content -->
                  <div class="chart-div">
                    <div class="row align-items-center">
                      <div class="heading-text-cover col px-1 mb-3">
                        <h5 class="heading-text">Assessments <span class="badge bg-secondary info pointer" title="This shows the total year to date assessment of each aspect">i</span></h5>
                      </div>
                    </div>
                  </div>

                  <!-- middle card content -->
                  <div class="middle-chart-div my-2 px-1">
                    <div class="row align-items-center">
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">PAYE Schedule YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Witholding Tax YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Direct Assessment YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Stamp Duty YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Capital Gains YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Revenue YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Bills YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <div class="middle-text-cover col-12 mb-3 d-flex">
                        <small class="smaller">Payments YTD</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 12,471.67 </small>
                      </div>
                      <hr class="hr">
                      <div class="middle-text-cover col-12 d-flex">
                        <small class="smaller fw-bold">Total</small>
                        <small class="smaller-price fw-bold ms-auto">₦ 102,471.67 </small>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row g-1 mt-3">
              <div class="card border-light container-fluid success p-0">
                <div class="card-body px-4 py-3">

                  <!-- Top card content -->
                  <div class="chart-div">
                    <div class="row align-items-center">
                      <div class="heading-text-cover col px-1 mb-3">
                        <h5 class="heading-text">Assessments Acknowledgemnet <span class="badge bg-secondary info pointer" title="This shows the chart of assessments generated, dispatched and acknowledged">i</span></h5>
                      </div>
                    </div>
                  </div>

                  <!-- middle card content -->
                  <div class="middle-chart-div my-2 px-1">
                    <div class="row align-items-center">
                      <img src="./assets/img/barchart-left.svg" alt="" style="max-height: 40vh">
                    </div>
                  </div>

                </div>
              </div>
            </div>



          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <div class="card border-light container-fluid success p-0 m-0">
            <div class="card-body px-3 py-3">

              <!-- Top card content -->
              <div class="chart-div">
                <div class="row align-items-center">
                  <div class="heading-text-cover col">
                    <h5 class="heading-text">Tax Remitance(Year)</h5>
                  </div>
                </div>
              </div>

              <!-- middle card content -->
              <div class="middle-chart-div">
                <div class="row align-items-center">
                  <div class="middle-chart-cover col">
                    <div id="chart"></div>
                  </div>
                </div>
              </div>

              <!-- Bottom card content -->
              <div class="bottom-div px-2">
                <div class="row">
                  <div class="bottom-text-cover d-flex">
                    <span class="bottom-icon material-symbols-rounded">
                      trending_up
                    </span>
                    <span class="bottom-text text-green me-2">25%</span>
                    <span class="bottom-text">+150k This month</span>
                    <span class="bottom-text ms-auto text-green">+50k Today</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="card border-light container-fluid success p-0 m-0">
            <div class="card-body px-3 py-3">

              <!-- Top card content -->
              <div class="chart-div">
                <div class="row align-items-center">
                  <div class="heading-text-cover col">
                    <h5 class="heading-text">Remitance per channel(Year)</h5>
                  </div>
                </div>
              </div>

              <!-- middle card content -->
              <div class="middle-chart-div">
                <div class="row align-items-center">
                  <div class="middle-chart-cover col">
                    <div id="chart2"></div>
                  </div>
                </div>
              </div>

              <!-- Bottom card content -->
              <div class="bottom-div px-2">
                <div class="row">
                  <div class="bottom-text-cover d-flex">
                    <span class="bottom-icon material-symbols-rounded">
                      trending_up
                    </span>
                    <span class="bottom-text text-green me-2">25%</span>
                    <span class="bottom-text">+150k This month</span>
                    <span class="bottom-text ms-auto text-green">+50k Today</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>